<div class="main">
    <div class="navbar">
        <button class="btn btn-info" (click)="ruter.navigateByUrl('/peliculas/listado')">Peliculas listado</button>
        <button class="btn btn-info" (click)="ruter.navigateByUrl('/peliculas/alta')">Peliculas alta</button>
        <button class="btn btn-info" (click)="ruter.navigateByUrl('/actor/listado')">Actores listado</button>
        <button class="btn btn-info" (click)="ruter.navigateByUrl('/actor/alta')">Actores alta</button>
      </div> 
</div>


