
<div class="row justify-content-center">
    <div class="col-md-12">
      <div class="rounded">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Pelicula</th>
                <th>Nacionalidad</th>
              </tr>
            </thead>
            <tbody>
              @for(actor of actores; track actor){ 
                <tr (click)="seleccionarActor(actor)">
                  <td>{{actor.nombre}}</td>
                  <td>{{actor.edad}}</td>
                  <td>{{actor.pelicula}}</td>
                  <td>{{actor.nacionalidad}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

